@{
    ViewData["Title"] = "Painel de Controle";
}
@{
    ViewData["mensagem"] = "Sistema de Gerenciamento do Buffet Comida Mineira";
}
@{ 
    ViewData["mensagem2"] = "Painel de Controle";
}
<br />
<ul class="nav flex-column" style="background-color:rgb(207,243,252); width:200px;">
    <li class="nav-item">
        <a style="color:brown;font-size:20px;"class="nav-link active" href="#">Consultar cadastro</a>
    </li><br />
    <li class="nav-item">
        <a style="color:brown;font-size:20px;" class="nav-link" href="#">Produtos</a>
    </li><br />
    <li class="nav-item">
        <a style="color:brown;font-size:20px;" class="nav-link" href="#">Sugestões</a>
    </li>
</ul>